/*CSS general de elementos*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #222;
    color: white;
    font: 200 14px 'Poppins', sans-serif;
    min-width: fit-content;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
nav{
    position: fixed;
    width: 100%;
    background-color: #222;
    border-bottom: 1px solid white;
    height: 55px;
    padding-bottom: 10px;
    text-align: center;
}
nav ul{
    display: inline-block;
}
nav ul li{
    padding-top: 22px;
}
footer{
    background-color: #222;
    width: 100%;
    border-top: 2px solid #ffc900;
    padding-top: 10px;
    text-align: center;
}
footer ul{
    display: inline-block;
}
section{
    padding: 10px 100px 10px 100px;
}
p{
    text-align: justify;
}
cite{
    font-weight: 300;
}
a:any-link{
    text-decoration: none;
    color: white
}
a:-webkit-any-link{
    color: white
}
a:-moz-any-link{
    color: white
}
ul{
    list-style: none;
}
a:hover{
    color: #ffc900;
}
li{
    float: left;
    margin-right: 5px;
}
/*CSS Clase*/
.hastag{
    color: #ffc900;
    font-size: 24px;
    font-weight: 800;
}
.seccion{
    padding: 10px 100px 10px 100px ;
}
.infosobremi{
    display: grid;
    grid-template-columns: 200px max-content;
    padding-left: 20px;
}
.infosobremi h3, h4{
    padding: 5px;
}
.filaportfolio{
    display: flex;
    justify-content: space-between;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin: 15px 0;
}
.filaportfolio .card{
    background-color: #111;
    border: 1px solid #ffc900;
    width: 250px;
    height: 360px;
    border-radius: 15px;
}
.card img, .card video{
    border-radius: 15px 15px 0 0; 

}
.card h3{
    color: #ffc900;
}
.masinfo button{
    color: #222;
    background-color: #ffc900;
    font-weight: 600;
    padding: 5px 10px;
    float: right;
    border-radius: 15px;
    margin-bottom: 5px;
    height: 26px;
}
.card .sep{
    height: 20px;
    border-bottom: 1px solid #ffc900;
}
.filaexperiencia{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,150px);
    grid-gap: 50px;
    align-content: space-around;
    justify-content: center;
    margin-top: 20px;
}
.cardexp{
    background-color: #222;
    color: white;
    border-radius: 10px;
}
.cardexp ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    padding-top: 10px;
}
.cardexp li{
    height: 30px;
}
.cardexp h2, .cardexp h3, .cardexp p{
    float: left;
    padding: 10px 10px 0px 10px
}
/*Formulario*/
.itemform{
    display: grid;
    grid-template-columns: 150px 350px;
    justify-content: center;
    margin-bottom: 10px;
}
.itemform label{
    font-weight: 700;
}
.itemform input, .itemform textarea{
    border-radius: 5px;
    border: 1px solid #222;
}
input[type="submit"]{
    background-color: #222;
    color: white;
    border-radius: 5px;
    padding: 10px;
    grid-column: 2/3;
    justify-self: end;
}
/*CSS ID*/
#logo{
    padding-top: 0px;
    font-size: 45px;
    padding-bottom: 10px;
}
#redessociales{
    padding-top: 0px;
    font-size: 24px;
}
#inicio{
    background-image: url("https://i.postimg.cc/rmd0JbcS/Inicio.png");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 280px;
    padding-top: 70px;
}
#sobremi{
    min-height: 350px;
}
#sobremi .masinfo button{
    float: left;
    padding: 5px 20px 15px 20px;
    margin-bottom: 0;
    margin-left: 5px;
}
#sobremi iframe{
    float: left;
    border-radius: 5px;
    border: 1px solid #ffc900;
}
#experiencia{
    background-color: white;
    color: #222;
    text-align: center;
}
#portfolio{
    margin-top: 5px;
    border-top: 1px solid #ffc900;
    text-align: center;
}
#portfolio .card h3,#portfolio .card h4,#portfolio .card p, #portfolio .masinfo{
    padding: 0 15px;
}
#contactar{
    color: #222;
    background-color: #ffc900;
}
#contactar h3{
    font-weight: 600;
}